.live-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 14px 14px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    list-style-type: none;
    z-index: 9999;
  }
  
  .live-search-results::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  .live-search-results li {
  padding: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  display: flex; /* Add flex display to align items horizontally */
  align-items: center; /* Center align items vertically */

}

.live-search-results .poster {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  margin-right: 10px; /* Add spacing between the poster and the title */
  border-radius: 7px;
}

.live-search-results .title {
  margin: 0; /* Remove any default margin */
}
  