.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #211f1f;
  }
  
  .headerLeft {
    display: flex;
    align-items: center;
  }
  
  .link {
    margin-right: 15px;
    text-decoration: none;
    color: #f5eeee;
    font-size: 16px;
  }
  
  .link:last-child {
    margin-right: 0;
  }
  
  .top {
    font-weight: bold;
  }
  
  .header__icon {
    width: 100px;
    height: 50px;
  }
  
  .searchbar {
    margin-left: auto;
  }
  